.c {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    will-change: transform, opacity;
  }
  
  .front,
  .back {
    background-size: cover;
  }

  .ninety{
    background-position: 50% 25%;
  }

  .gam{
    background-position: 50% 9%;
  }

  .madmarx{
    background-position: 50% 12%;
  }

  .catlord{
    background-position: 50% 20%;
  }

  .docteurmétal{
    background-position: 50% 16%;
  }

  .lechinois{
    background-position: 50% 18%;
  }
  
  .front {    
    color: white;
  }

  .front p{
    padding: 10px;
    color: #F6EDD7;
  }

  .front h2,h3{
    padding-left: 10px;
    color: #F6EDD7;
    font-weight: 700;
  }
  