.mediasBoard{
    display: flex;
    flex-direction: row;
    width: 960px;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #F6EDD7;
    background-color: #F6EDD726;
    color: black;
    box-shadow: 2px 2px 9px #F6EDD7;
    margin: auto;
    margin-bottom: 100px;    
}

.mediasBoard h2{
    width: 100%;
    text-align: center;
    color: #F6EDD7;
}

.polaroid {
  width: 300px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.photo{
    width: 96%;
    padding: 2%;
}

.polaroid:hover{
    cursor: pointer;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

.polaroid:hover .photo{
    transition: 0.5s ease;
    opacity: 0.6;
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0) rotate(3deg) scale(1.2);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0) rotate(-3deg) scale(1.2);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0) rotate(3deg) scale(1.2);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0) rotate(0deg) scale(1.2);
    }
  }